# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / Packaging
dist/
build/
*.egg-info/
.eggs/

# Environments
.env
venv/
env/
anchor_dev/
ENV/

# Anchor Specific
.anchor/
*.anchor.example
!finos-master.anchor

# Testing & Debug Items
victim.py
debug_anchor.py
test_policy.anchor
debug_ast.py
debug_ts_query.py
test.ts
test_dir_unified/
test_poc.py
test_unified.py
ts_probe.py

# IDEs
.vscode/
.idea/
*.swp
*.swo